## Common.gitignore

# output folders
build/
output/
out/

# temporary folders
tmp/

# explicit mark
*ignore*
.tmp*

# vscode configuration
.vscode

# make outputs
pytest_*.xml
.compose*

# validation folder
!validation/**/*
# docker ignore
!.dockerignore
# git ignore
!.gitignore
